USE [DOANCUOIKY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 06/22/2016 23:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NO] [nvarchar](50) NULL,
	[NAME] [nvarchar](100) NULL,
 CONSTRAINT [PK_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORY] ON
INSERT [dbo].[CATEGORY] ([ID], [NO], [NAME]) VALUES (1, N'CNTT', N'Công nghệ thông tin')
INSERT [dbo].[CATEGORY] ([ID], [NO], [NAME]) VALUES (2, N'NN', N'Ngoại ngữ')
INSERT [dbo].[CATEGORY] ([ID], [NO], [NAME]) VALUES (3, N'KT', N'Kế toán 1')
SET IDENTITY_INSERT [dbo].[CATEGORY] OFF
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 06/22/2016 23:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](20) NULL,
	[PASSWORD] [nvarchar](20) NULL,
	[NO] [nvarchar](50) NULL,
	[NAME] [nvarchar](100) NULL,
	[POSITION] [nvarchar](10) NULL,
	[ENABLE_FLAG] [nvarchar](2) NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCOUNT] ON
INSERT [dbo].[ACCOUNT] ([ID], [USERNAME], [PASSWORD], [NO], [NAME], [POSITION], [ENABLE_FLAG]) VALUES (1, N'daobadat', N'7121995', N'130620009', N'Đào Bá Đạt', N'ADMIN', N'N')
SET IDENTITY_INSERT [dbo].[ACCOUNT] OFF
/****** Object:  Table [dbo].[EXAM_HEADER]    Script Date: 06/22/2016 23:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXAM_HEADER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT_ID] [int] NULL,
	[TOTAL_QUESTION] [int] NULL,
	[TOTAL_TRUE_ANSWER] [int] NULL,
	[SCORE] [int] NULL,
	[DATE] [datetime] NULL,
 CONSTRAINT [PK_EXAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TITLE]    Script Date: 06/22/2016 23:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TITLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[No] [nvarchar](50) NULL,
	[Name] [nvarchar](200) NULL,
	[CATEGORY_ID] [int] NULL,
 CONSTRAINT [PK_TITLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TITLE] ON
INSERT [dbo].[TITLE] ([ID], [No], [Name], [CATEGORY_ID]) VALUES (1, N'MD3', N'80 Câu CNTT', 5)
INSERT [dbo].[TITLE] ([ID], [No], [Name], [CATEGORY_ID]) VALUES (2, N'MD1', N'40 Câu CNTT', 5)
INSERT [dbo].[TITLE] ([ID], [No], [Name], [CATEGORY_ID]) VALUES (3, N'MD2', N'60 Câu CNTT', 5)
SET IDENTITY_INSERT [dbo].[TITLE] OFF
/****** Object:  Table [dbo].[QUESTION]    Script Date: 06/22/2016 23:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE_ID] [int] NULL,
	[NO] [nvarchar](50) NULL,
	[QUESTION] [nvarchar](1000) NULL,
	[A] [nvarchar](500) NULL,
	[B] [nvarchar](500) NULL,
	[C] [nvarchar](500) NULL,
	[D] [nvarchar](500) NULL,
	[ANSWER] [nvarchar](2) NULL,
	[STATUS] [nvarchar](10) NULL,
	[DATE] [datetime] NULL,
 CONSTRAINT [PK_QUESTION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[QUESTION] ON
INSERT [dbo].[QUESTION] ([ID], [TITLE_ID], [NO], [QUESTION], [A], [B], [C], [D], [ANSWER], [STATUS], [DATE]) VALUES (1, 1, N'1', N'1 + 1 = ?', N'1', N'2', N'3', N'4', N'0', N'1', CAST(0x0000A62D017926B6 AS DateTime))
INSERT [dbo].[QUESTION] ([ID], [TITLE_ID], [NO], [QUESTION], [A], [B], [C], [D], [ANSWER], [STATUS], [DATE]) VALUES (3, 1, N'21', N'Test2', N'31231', N'12d212', N'124124', N'12d12', N'1', N'0', CAST(0x0000A62D017F5D5B AS DateTime))
SET IDENTITY_INSERT [dbo].[QUESTION] OFF
/****** Object:  Table [dbo].[EXAM_LINE]    Script Date: 06/22/2016 23:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXAM_LINE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EXAM_HEADER_ID] [int] NULL,
	[QUESTION_ID] [int] NULL,
	[ANSWER] [nvarchar](2) NULL,
 CONSTRAINT [PK_EXAM_LINE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_EXAM_HEADER_ACCOUNT]    Script Date: 06/22/2016 23:25:05 ******/
ALTER TABLE [dbo].[EXAM_HEADER]  WITH CHECK ADD  CONSTRAINT [FK_EXAM_HEADER_ACCOUNT] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[EXAM_HEADER] CHECK CONSTRAINT [FK_EXAM_HEADER_ACCOUNT]
GO
/****** Object:  ForeignKey [FK_EXAM_LINE_EXAM_HEADER]    Script Date: 06/22/2016 23:25:05 ******/
ALTER TABLE [dbo].[EXAM_LINE]  WITH CHECK ADD  CONSTRAINT [FK_EXAM_LINE_EXAM_HEADER] FOREIGN KEY([EXAM_HEADER_ID])
REFERENCES [dbo].[EXAM_HEADER] ([ID])
GO
ALTER TABLE [dbo].[EXAM_LINE] CHECK CONSTRAINT [FK_EXAM_LINE_EXAM_HEADER]
GO
/****** Object:  ForeignKey [FK_EXAM_LINE_QUESTION]    Script Date: 06/22/2016 23:25:05 ******/
ALTER TABLE [dbo].[EXAM_LINE]  WITH CHECK ADD  CONSTRAINT [FK_EXAM_LINE_QUESTION] FOREIGN KEY([QUESTION_ID])
REFERENCES [dbo].[QUESTION] ([ID])
GO
ALTER TABLE [dbo].[EXAM_LINE] CHECK CONSTRAINT [FK_EXAM_LINE_QUESTION]
GO
/****** Object:  ForeignKey [FK_QUESTION_TITLE]    Script Date: 06/22/2016 23:25:05 ******/
ALTER TABLE [dbo].[QUESTION]  WITH CHECK ADD  CONSTRAINT [FK_QUESTION_TITLE] FOREIGN KEY([TITLE_ID])
REFERENCES [dbo].[TITLE] ([ID])
GO
ALTER TABLE [dbo].[QUESTION] CHECK CONSTRAINT [FK_QUESTION_TITLE]
GO
/****** Object:  ForeignKey [FK_TITLE_CATEGORY]    Script Date: 06/22/2016 23:25:05 ******/
ALTER TABLE [dbo].[TITLE]  WITH CHECK ADD  CONSTRAINT [FK_TITLE_CATEGORY] FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[TITLE] CHECK CONSTRAINT [FK_TITLE_CATEGORY]
GO
